@import '../../../styles/mixins';

.wrapper {
  height: 90vh;
  padding: 230px 0 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/images/bg.png') no-repeat top center / cover;
  .banner {
    transition: 0.3s ease;
    .content {
      max-width: 650px;
      text-align: center;
      color: #fff;
      .title {
        @include font(48px, 58px, 500);
        letter-spacing: -1.95918px;
        margin-bottom: 10px;
        color: #fff;
        position: relative;
        z-index: 10;
        @include md {
          margin-bottom: 20px;
        }
        span {
          font-weight: 800;
          display: inline-block;
          position: relative;
          z-index: -1;
          &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 95px;
            width: 120%;
            height: 15px;
            background: #ff8600;
            mix-blend-mode: normal;
            z-index: -1;
            @include md {
              left: -352px;
              bottom: -57px;
            }
            @include sm {
              left: 95px;
              bottom: 0px;
            }
          }
        }
      }
      .subtitle {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 60px;
        @include md {
          margin-bottom: 50px;
        }
      }
      .action {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 33px;
        @include md {
          flex-direction: column;
          gap: 20px;
          input {
            width: 100%;
            margin-right: 0;
          }
          button {
            width: 100%;
          }
        }
      }
      .text {
        padding: 0 10px;
        @include font(17px, 30px, 500, rgba(0, 0, 0, 0.59));
      }
    }
  }
}
