@import '../../../styles/mixins';

.wrapper {
  height: 90vh;
  padding: 230px 0 235px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/images/bg.png') no-repeat top center / cover;
  @include md {
    padding: 65px 0 53px;
  }
  .banner {
    transition: 0.3s ease;
    @include xl {
      gap: 30px;
    }
    @include md {
      flex-direction: column-reverse;
    }
    .content {
      max-width: 650px;
      text-align: center;
      color: #fff;
      @include lg {
        max-width: 365px;
      }
      @include md {
        max-width: 100%;
        text-align: center;
      }
      .title {
        @include font(48px, 58px, 500);
        letter-spacing: -1.95918px;
        margin-bottom: 10px;
        color: #fff;
        position: relative;
        z-index: 10;
        span {
          font-weight: 800;
          display: inline-block;
          position: relative;
          z-index: -1;
          &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 95px;
            width: 120%;
            height: 15px;
            background: #ff8600;
            mix-blend-mode: normal;
            z-index: -1;
          }
        }
      }
      .subtitle {
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 60px;
      }
      .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 33px;
      }
      .text {
        padding: 0 10px;
        @include font(17px, 30px, 500, rgba(0, 0, 0, 0.59));
      }
    }
  }
}
