@import '../../../styles/mixins';

.trending {
  max-width: 1240px;
  padding: 75px 15px 0;
  margin-inline: auto;
  @include md {
    max-width: 960px;
  }
  .title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 32px;
  }
  .searches {
    display: flex;
    gap: 10px;
    padding: 0 50px;
    .search {
      display: flex;
      align-items: center;
      padding: 11px 23px;
      border-radius: 30px;
      background-color: #87a1e72c;
      span {
        color: #406be1;
        font-size: 17px;
        line-height: 30px;
        font-weight: 500;
        margin-left: 9px;
      }
    }
  }
}
