@import "../../styles/mixins";

.wrapper {
  padding-top: 110px;
  padding: 110px 15px 56px;
  margin-inline: auto;
  .divider {
    margin: 0 58px;
    @include lg {
      margin: 0 25px;
    }
  }
}
